* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #1f2937;

  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  font-size: 24px;
}

.links {
  display: flex;
  gap: 18px;
  align-items: center;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  list-style-type: none;
}
h1 {
  color: #f9faf8;
}

.content {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 50px 10%;
}
.subtext {
  color: #e5e7eb;
  font-size: 18px;
  width: 30%;
  box-sizing: border-box;
}

.content .img {
  background-color: #cfd0d3;
  color: #f9faf8;
  /* width: 30%; */
}
